### Backend Environment Variables
# file disk folder
BE_PHOTO_SRC=""
# container folder that points to file disk src
BE_PHOTO_DIR=""
# identifier for open street maps api
BE_USER_AGENT=""
BE_DATABASE_URL=""

### Database Environment Variables
MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""

### Frontend Environment Variables
FE_PUBLIC_API_URL=""
