# file disk folder
PHOTO_SRC=""
# container folder that points to file disk src
PHOTO_DIR=""

# identifier for open street maps api
USER_AGENT=""

MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""

DATABASE_URL=""